/* ============================ fonts ========================= */
@font-face {
    font-family: "morabaa";
    src: url("/static/font/Morabba-Medium.woff") format("woff"),
        url("/static/font/Morabba-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "morabaa2";
    src: url("/static/font/Morabba-Light.woff") format("woff"),
        url("/static/font/Morabba-Medium.woff2") format("woff2");
}
/* ======================= button styles ======================== */
.btn-outline-info {
    color: rgb(137, 4, 64);
    border-color: rgb(137, 4, 64);
}

.btn-outline-info:hover,
.btn-outline-info:focus,
.btn-outline-info:active,
.btn-outline-info:focus-visible {
    color: white !important;
    border-color: rgb(137, 4, 64) !important;
    background-color: rgb(137, 4, 64) !important;
}

.my-btn-hover {
    border-radius: 0.3rem;
    transition: all ease 0.2s;
}

.my-btn-hover:hover {
    transform: scaleX(1.05);
    background-color: rgb(137, 4, 64);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.22);
}

/* ======================== base styles ======================= */
:root {
    --bs-primary-rgb: 108, 7, 66 !important;
    --bs-info-rgb: 108, 7, 66 !important;
}

::selection {
    background-color: rgba(137, 4, 64, 0.385);
}

.line {
    height: 2px;
    background-color: rgba(137, 4, 64, 0.385);
    border-radius: 1rem;
}

body {
    font-family: "morabaa";
    background-color: #1a1921;
}

/* ========================= navbar =========================== */

.my-nav-shadow {
    box-shadow: 0 0 10px rgba(137, 4, 64, 0.385);
}

.my-bg-search,
.my-bg-search:active,
.my-bg-search:focus {
    background: transparent;
    border: 1px solid rgb(137, 4, 64) !important;
    color: white !important;
}

/* ========================= Cards style ======================== */

.card-image {
    max-height: 8rem;
}

@media (max-width: 600px) {
    .card-image {
        max-height: 6rem;
    }
}

.my-card {
    font-family: "morabaa2";
    text-align: center;
    border: 1px solid rgb(137, 4, 64);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(137, 4, 64, 0.472);
    background-color: #131218;
    margin: 8px 8px;
}

/* ===================  managers Cards ======================*/
.my-card21 {
    text-align: start;
    border-radius: 3rem;
    max-height: 20rem;
    margin-bottom: 2rem;
}

.my-img {
    border-radius: 2rem;
}

.col-img1 {
    text-align: end;
}

/* ========================= End ========================== */