/* ============================ fonts ========================= */
@font-face {
    font-family: "morabaa";
    src: url("/static/font/Morabba-Medium.woff") format("woff"),
        url("/static/font/Morabba-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "morabaa2";
    src: url("/static/font/Morabba-Light.woff") format("woff"),
        url("/static/font/Morabba-Medium.woff2") format("woff2");
}
/* ======================= button styles ======================== */
.btn-outline-info {
    color: rgb(137, 4, 64);
    border-color: rgb(137, 4, 64);
}

.btn-outline-info:hover,
.btn-outline-info:focus,
.btn-outline-info:active,
.btn-outline-info:focus-visible {
    color: white !important;
    border-color: rgb(137, 4, 64) !important;
    background-color: rgb(137, 4, 64) !important;
}

.my-btn-hover {
    border-radius: 0.3rem;
    transition: all ease 0.2s;
}

.my-btn-hover:hover {
    transform: scaleX(1.05);
    background-color: rgb(137, 4, 64);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.22);
}

/* ======================== base styles ======================= */
:root {
    --bs-primary-rgb: 108, 7, 66 !important;
    --bs-info-rgb: 108, 7, 66 !important;
}

::selection {
    background-color: rgba(137, 4, 64, 0.385);
}

.line {
    height: 2px;
    background-color: rgba(137, 4, 64, 0.385);
    border-radius: 1rem;
}

body {
    font-family: "morabaa";
    background-color: #1a1921;
}

/* ========================= navbar =========================== */

.my-nav-shadow {
    box-shadow: 0 0 10px rgba(137, 4, 64, 0.385);
}

.my-bg-search,
.my-bg-search:active,
.my-bg-search:focus {
    background: transparent;
    border: 1px solid rgb(137, 4, 64) !important;
    color: white !important;
}

/* ========================= Cards style ======================== */
.my-card {
    transition: all ease 0.3s;
}
.my-card:hover {
    background-color: rgba(137, 4, 64, 0.385) !important;
    color: white !important;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(137, 4, 64, 0.385);
    border: solid 0.5px rgba(137, 4, 64, 0.385);
}
.my-text-card {
    transition: all 0.3s ease;
}
.my-card:hover .my-text-card {
    color: white !important;
}
.my-bi {
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-flex;
    padding: 0.75rem;
    border-radius: 1rem;
    color: rgba(137, 4, 64, 0.7);
    transition: ease 0.3s;
}
.my-card:hover .my-bi {
    transform: translateY(10px);
}
.my-card-bg1 {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    background:
        rgba(196, 196, 196, 0.59) url('/static/pictures/IndexPic1.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-attachment: local;
}

.my-card-bg2 {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    background:
        rgba(196, 196, 196, 0.59) url('/static/pictures/IndexPic2.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-attachment: local;
}

.my-card-bg3 {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    background:
        rgba(196, 196, 196, 0.59) url('/static/pictures/IndexPic2.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-attachment: local;
}

.my-card-bg4 {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    background:
        rgba(196, 196, 196, 0.59) url('/static/pictures/IndexPic2.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-attachment: local;
}

/* ========================= End ========================== */