{% extends 'main.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />  
{% endblock extra_css %}
{% block content %}
  <!-- ========================= section 1 ====================== -->
  <div class="container ">
    <div class="row my-row align-items-center">
      <div class="col-md col-lg mt-lg-1b fs-">
        <!--  بخش متن -->
        <h4 class="mb-4 mt-lg-0 fw-bold text-white">وبسایتی برای وبسایت</h4>
        <h5 class="text-primary mb-3 mb-lg-4 mt-lg-4">MyWebsite.ir</h5>
        <p class="lh-lg mb-lg-5 text-white ">
          زمانی که صحبت از طراحی وبسایت شود، اکثر افراد ممکن است
          که دچار تردید و یا سردرگمی شوند. در اینجا شما می توانید اینجا
          اطمینان را حاصل کنید که تیم ما بهترین پروژه های طراحی وبسایت را
          برای شما ارائه می دهند.
        </p>
        <!-- دکمه ها -->
        <button type="button" onclick="window.location.href='{% url 'website:about' %}'" class="btn btn-outline-info me-4">اطلاعات بیشتر</button>
        <button type="button" class="btn btn-outline-secondary" onclick="window.location.href='#contactus'">تماس با ما</button>
      </div>
      <!-- بخش تصویر -->
      <div class="col-md col-lg-4 d-flex align-items-center mt-sm-5 ">
        <img src="{% static 'pictures/ui-design-26.png' %}" alt="" class=" img-fluid my-mb" />

      </div>
    </div>
  </div>
  <div class="mb-4"></div>
  <!-- end section 1 -->

  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col line"></div>
      <div class="col col-md-2 mx-auto">
        <h3 class="text-white ">خدمات ما</h3>
      </div>
      <div class="col line"></div>
    </div>
  </div>
  <div class="mb-4"></div>

  <!-- ======================= section 2==================== -->

  <!-- توضیحات سمت راست -->
  <section class="text-white ">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <i class="bi bi-stack fs-1 my-bi mb-4"></i>
          <h5 class="mb-3">خدمات ما </h5>
          <p class="mb-3" style="text-justify: auto;">
            در اینجا می‌توانید خلاصه‌ای از خدمات ما را مشاهده کنید.
            ملاک ما در این خدمات، رضایت شماست.
            اگر نیازمند به هر یک از خدمات روبرو بودید، تنها کافیست که
            <a class="text-primary" href="{% url 'website:contact' %}" style="text-decoration: none;">با ما در تماس باشید.</a> 
          </p>
          <!-- دکمه -->
          <button type="button" class="btn btn-outline-info me-4">ثبت سفارش</button>
          <div class="mb-5"></div>
          <!--  card 1 -->
        </div>
        <div class="col-md-8">
          <div class="row">
           
            <div class="col-md-6">
              <div class="card text-center mb-4 my-card my-card-bg1 text-info">
                <div class="card-body">
                  <i class="bi bi-graph-up my-bi fs-1 mb-4 .my-card-i"></i>
                  <h5 class="card-title mb-3">BackEnd اختصاصی</h5>
                  <h6 class="lh-base card-text text-muted my-text-card">
                    ما به شما بک-اند اختصاصی با امنیت بالا و 
                    همچنین در اسرع وقت را تضمین می‌کنیم.
                  </h6>
                </div>
              </div>
            </div>
            <!--  card 3 -->
            <div class="col-md-6">
              <div class="card text-center mb-4 mt-5 my-card my-card-bg3 text-info">
                <div class="card-body">
                  <i class="bi bi-back my-bi fs-1 mb-4 .my-card-i"></i>
                  <h5 class="card-title mb-3">FrontEnd مناسب</h5>
                  <h6 class="lh-base card-text text-muted my-text-card">
                    شما می‌توانید به دلخواه خود و با قیمتی مناسب، طراحی
                    وبسایت خود را به دست بگیرید.
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end section 2 -->
{% comment %} 
  <!-- نوار جدا کننده -->
  <div class="mb-5"></div>
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col line"></div>
      <div class=" col col-lg-2  mx-auto">
        <h3 class="text-white ">اشتراک ها </h3>
      </div>
      <div class="col line"></div>
    </div>
  </div>
  <div class="mb-4"></div>

  <!-- ====================== section 3 ==================== -->
  <section>
    <div class="text-center">
      <!-- عنوان و توضیح -->
      <h4 class="fw-bold text-white mb-3">لورم ایپسوم متن</h4>
      <p class="fw-bold text-white mb-5">
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
        استفاده از طراحان گرافیک است
      </p>
    </div>

    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-4 col-lg-3">
          <!-- کارت راست -->
          <div class="card text-center mb-4 my-card py-3 bg-secondary">
            <div class="card-body">
              <i class="bi bi-graph-up my-bi fs-1 mb-4"></i>
              <h5 class="card-title mb-3">مقدماتی</h5>
              <h5 class="card-title mb-3">10000تومان</h5>
              <p class="card-text text-muted fw-bold my-text-card">کاربر در ماه</p>
              <p class="card-text text-muted fw-bold my-text-card">فضا 30 GB</p>
              <p class="card-text text-muted fw-bold my-text-card">دسترسی کامل</p>
              <button class="btn btn-outline-info mt-4">خرید</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <!-- کارت وسط -->
          <div class="card text-center mb-4 my-card my-bg-1 py-5 bg-dark ">
            <div class="card-body  ">
              <i class="bi bi-graph-up my-bi fs-1 mb-4 "></i>
              <h5 class="card-title mb-3 text-light">مقدماتی</h5>
              <h5 class="card-title mb-3 text-light">10000تومان</h5>
              <p class="card-text text-light fw-bold">کاربر در ماه</p>
              <p class="card-text text-light fw-bold">فضا 30 GB</p>
              <p class="card-text text-light fw-bold">دسترسی کامل</p>
              <button class="btn btn-outline-light mt-4">خرید</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <!-- کارت چپ -->
          <div class="card text-center mb-4 my-card py-3 bg-secondary ">
            <div class="card-body">
              <i class="bi bi-graph-up my-bi fs-1 mb-4"></i>
              <h5 class="card-title mb-3 my-text-card ">مقدماتی</h5>
              <h5 class="card-title mb-3 my-text-card">10000تومان</h5>
              <p class="card-text text-muted fw-bold my-text-card">کاربر در ماه</p>
              <p class="card-text text-muted fw-bold my-text-card ">فضا 30 GB</p>
              <p class="card-text text-muted fw-bold my-text-card">دسترسی کامل</p>
              <button class="btn btn-outline-info mt-4">خرید</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> {% endcomment %}
  <!-- end section 3 -->

  <!-- خط جدا کننده -->
  <div class="mb-5"></div>
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col line"></div>
      <div class=" col col-md-2  mx-auto">
        <h3 class="text-white ">گالری تصاویر</h3>
      </div>
      <div class="col line"></div>
    </div>
  </div>
  <div class="mb-4"></div>

  <!-- ====================== section 4 ==================== -->
  <section class="my-section text-light">
    <div class="container text-center">
      <div class="row text-center">
        <!-- عنوان و توضیح -->
        <h4 class="fw-bold mb-3">لورم ایپسوم متن</h4>
        <p class="fw-bold mb-5">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است
        </p>
      </div>
      <div class="row">
        <!-- اسلایدر عکس -->
        <div id="carouselExampleIndicators" class="carousel slide  rounded">
          <div class="carousel-indicators ">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <!-- عکس اول  -->
            <div class="carousel-item active">
              <img src="{% static 'pictures/Nature HD Wallpapers 188.jpg' %}" class="d-block w-100 rounded-4" alt="..." />
            </div>
            <!-- عکس دوم -->
            <div class="carousel-item">
              <img src="{% static 'pictures/Nature HD Wallpapers 217.jpg' %}" class="d-block w-100 rounded-4" alt="..." />
            </div>
            <!-- عکس سوم -->
            <div class="carousel-item">
              <img src="{% static 'pictures/Nature HD Wallpapers 243.jpg' %}" class="d-block w-100 rounded-4" alt="..." />
            </div>
          </div>
          <!-- دکمه سمت چپ عکس برای قبلی -->
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <!-- دکمه راست عکس برای بعدی -->
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <!-- دکمه مشاهده گالری -->
      <button class="btn btn-outline-light mt-5 py-3 px-4">
        مشاهده گالری
      </button>
    </div>
    <br /><br /><br />
  </section>
  <!-- end section 4 -->

  <!-- خط جدا کننده -->
  <div class="mb-5"></div>
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col line"></div>
      <div class=" col col-lg-2  mx-auto">
        <h3 class="text-white ">تماس با ما</h3>
      </div>
      <div class="col line"></div>
    </div>
  </div>
  <div class="mb-4"></div>

  <!-- ====================== section 5 ==================== -->
  <section id="contactus">
    <div class="container">
      <div class="row text-center">
        <!-- عنوان و توضیح -->
        <h4 class="fw-bold text-white mb-3">ارسال درخواست انجام کار</h4>
        <p class="fw-bold mb-5 text-white">
          اگر می توانیم به شما کمک کنیم و خدمتی را ارائه دهیم، پیام خود را به ما ارسال نمایید.
        </p>
      </div>

      <!-- نمایش پیغام مورد نظر با توجه به ارسال فرم -->
      {% for message in messages %}
        <div class="container-fuild p-0">
          <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
          </div>
        </div>
      {% endfor %}

      <div class="row align-items-center">
        <div class="col-md-6">
          <!-- فرم ایمیل -->
          <form action="#contactus" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label text-white">ایمیل</label>
              <input type="email" name="email" class="form-control bg-light" placeholder="ایمیل شما">
            </div>
            <!-- فرم متن پیام -->
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label text-white">متن پیام</label>
              <textarea class="form-control" name="message" rows="10" placeholder="پیغام شما"></textarea>
            </div>
            <!-- دکمه ارسال -->
            <button class="btn btn-outline-info" type="submit">ارسال پیام</button>
          </form>
        </div>
        <div class="col-md-6  col-lg-5 offset-lg-1">
          <img src="{% static 'pictures/coding-29.png' %}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  <!-- end section 5 -->
{% endblock content %}
